@font-face {
    font-family: doctorGlitch;
    src: url("polices/doctorGlitch.otf");
    }
@font-face {
    font-family: avenue;
    src: url("polices/Avenue.otf");
    }  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
  }
  .wrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    background-image: url(../images/pixel-gif-stars-1.gif) ;
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }
  #active:checked ~ .wrapper{
    clip-path: circle(75%);
  }
  .menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 20px;
    height: 0;
    width: 0;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: gray;
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .menu-btn{
    color: #FFFFFF;
  }
  #active:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  .wrapper ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    margin: 15px 0;
  }
  .wrapper ul li a{
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    font-family: doctorGlitch;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }
  .wrapper ul li a:after{
    color: black;
    position: absolute;
    content: "";
    width: 104%;
    height: 110%;
    left: -2%;
    top: -5%; 
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: #783F8E;
  }
  input[type="checkbox"]{
    display: none;
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #000000;
  }
  .fas{
    width: 0;
    position: relative;
    top: -5%;
  }
  .truite{
    width : 30%;
  }
.logo {
    width: 50%;
    left: 25%;
    position: absolute;
}
.sousLogo {
    width: 15%;
    left: 42.5%;
    position: absolute;
}
main{
    position: absolute;
    top: 22%;
    left: 0.5%;
    width: 100%;
    height: 100%;
}
h1{
    color: aliceblue;
    font-family: Pixeloid;
    font-size: 200%;
}
.grd{
    font-size: 400%;
}
h2{
    color: aliceblue;
    font-family: Pixeloid;
    font-size: 170%;
}
p{
    color: aliceblue;
    font-family: Pixeloid;
    font-size: 150%;
}
a{
    color: blue;
    font-family: Pixeloid;
    font-size: 100%;
}
@media screen and (max-width: 1400px) {
    h1{
        font-size: 175%;
    } 
    .grd{
        font-size: 350%;
    }   
    h2{
        font-size: 160%;
    }    
    p{
        font-size: 130%;
    }   
}
@media screen and (max-width: 900px) {
    h1{
        font-size: 150%;
    }  
    .grd{
        font-size: 300%;
    }     
    h2{
        font-size: 135%;
    }   
    p{
        font-size: 115%;
    } 
}
@media screen and (max-width: 700px) {
    h1{
        font-size: 100%;
    }   
    .grd{
        font-size: 250%;
    }    
    h2{
        font-size: 95%;
    }   
    p{
        font-size: 90%;
    }  
}
.hero1{
    margin-top: 6%;
    border-radius: 25% 10%;
    border: 5px white solid;
    width: 70%;
    height: 70%;
    position: relative;
}
.hero2{
    margin-top: 6%;
    border-radius: 25% 10%;
    border: 5px white solid;
    width: 70%;
    height: 70%;
    position: relative;
}
.hero3{
    margin-top: 6%;
    border-radius: 25% 10%;
    border: 5px white solid;
    width: 70%;
    height: 70%;
    position: relative;
}
.hero4{
    margin-top: 6%;
    border-radius: 25% 10%;
    border: 5px white solid;
    width: 70%;
    height: 70%;
    position: relative;
}
@font-face{
    font-family: Pixeloid;
    src: url("../polices/Pixeloid.ttf");
}
.hau{
    text-align: center;
    border-radius: 20% 0% 0% 20%;
    border: 5px white solid;
    width: 15%;
    height: 100%;
    position: relative;
}
.hau1{
    text-align: center;
    border-radius: 0% 10% 10% 0%;
    border: 5px white solid;
    width: 30%;
    height: 100%;
    position: relative;
}
.flx{
    display: flex;
    height: 36%;
    width: 120%;
}
.flx2{
    display: flex;
    height: 36%;
    width: 120%;
    margin-top: 10px;
}
@media screen and (max-width: 700px) {
    .hero1{
        margin-top: -5%;
        border-radius: 25% 10%;
        border: 5px white solid;
        width: 70px;
        height: 70px;
        position: relative;
    }
    .hero2{
        margin-top: -5%;
        border-radius: 25% 10%;
        border: 5px white solid;
        width: 70px;
        height: 70px;
        position: relative;
    }
    .hero3{
        margin-top: -5%;
        border-radius: 25% 10%;
        border: 5px white solid;
        width: 70px;
        height: 70px;
        position: relative;
    }
    .hero4{
        margin-top: -5%;
        border-radius: 25% 10%;
        border: 5px white solid;
        width: 70px;
        height: 70px;
        position: relative;
    }
}
.hero1:hover{
    transition: all 1s ease;
    content: url(../images/spacesuit-a7lb.png);
    width: 100%;
    height: 90%;
    margin-top: -6%;
}
.hero2:hover{
    transition: all 1s ease;
    content: url(../images/3.png);
    width: 100%;
    height: 90%;
    margin-top: -6%;
}
.hero3:hover{
    transition: all 1s ease;
    content: url(../images/interieur.jpg);
    width: 100%;
    height: 82%;
    margin-top: -3%;
}
.hero4:hover{
    transition: all 1s ease;
    content: url(../images/4.png);
    width: 100%;
    height: 90%;
    margin-top: -6%;
}
.pett{
    width: 5%;
}
.dropbtn {
    background-image: url(../images/navetteMenu.png);
    background-size: 100%;
    color: white ;
    padding: 0px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    -webkit-text-stroke: 2px black;
    min-width: 160px;
} 
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 98;
    max-height: 0;
    min-width: 160px;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}
.dropdown-content a {
    color: black;
    background-image: url(../images/bobobo.png);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    max-height: 500px;
    min-width: 160px;
    transition: max-height 0.25s ease-in;
} 
.dropdown:hover .dropbtn {
    transition: max-height 0.25s ease-in;
} 
.interface{
    width: 95%;
    position: relative;
    top: 15%;
}
.ecr{
    font-size: 0;
}
@media screen and (max-width: 500px) {
    .interface{
        width: 0;
    }
    .ecr{
        font-size: large;
    }
}




.mendroit{
    text-align: center;
    background-color: gray;
    border-radius: 30px;
    position: relative;
    left: -5%;
}
.dropbtm {
    background-color: gray;
    color: blue ;
    padding: 0px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    min-width: 160px;
    font-family: Pixeloid;
} 
.dropdowm {
    position: relative;
    display: inline-block;
}
.dropdowm-content {
    position: absolute;
    z-index: 98;
    max-height: 0;
    min-width: 160px;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}
.dropdowm-content a {
    color: blue;
    background-color: rgb(124, 124, 124);
    text-decoration: none;
    display: block;
}
.dropdowm:hover .dropdowm-content {
    max-height: 500px;
    min-width: 160px;
    transition: max-height 0.25s ease-in;
} 
.dropdown:hover .dropbtm {
    transition: max-height 0.25s ease-in;
} 
@media screen and (max-width: 1200px) {
    .dropbtm {
        min-width: 130px;
    } 
    .dropdowm:hover .dropdowm-content {
        min-width: 130px;
    } 
}
@media screen and (max-width: 1000px) {
    .menu-btn{
        height: 50px;
        width: 50px;
    }
    .fas{
        width: 70%;
    }
    .wrapper{
        height: 100%;
        width: 100%;
    }
    .mendroit{
        width: 0;
        font-size: 0;
    }
    .dropdowm {
        top: -3000px;
    }
    
}
